/spotify/clone/node_modules
/spotify/clone/next.js
/spotify/clone/.next/
/spotify/clone/build

/spotify/backoffice/node_modules
/spotify/backoffice/next.js
/spotify/backoffice/.next/
/spotify/backoffice/build