# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
spotify/clone/node_modules
spotify/backoffice/node_modules

spotify/clone/.next/
spotify/backoffice/out/

# production
spotify/clone/build
spotify/backoffice/build


spotify/backoffice/next-env.d.ts
spotify/clone/next-env.d.ts


/generated/prisma